<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <!-- Router Link with Query Params & framgment
        [queryParams] = "{allowEdit: '1', anotherP: 234}" 
      -->
      <a
        [routerLink] = "['/servers', server.id]" 
        [queryParams] = "{allowEdit: server.editMode === 'on'? '1': '0'}"
        fragment ="loading"
        href="#"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <!--To load all child route hook -->
    <router-outlet></router-outlet>
    <!--<a routerLink = "../servers">Reload Page</a>-->
    <!--<button class="btn btn-primary" (click)="onReload()">Reload Page</button>
    <app-edit-server></app-edit-server>
    <hr>-->
    <!--do no load if id is not available-->
    <!--<app-server></app-server> -->
  </div>
</div>

