<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!--Advanced Pipe two way data binding-->
      <input type="text" [(ngModel)]="filteredStatus"/>
      <br/>
      <br/>
      <!--async filter wait for Promise output-->
      <h2>App Status: {{appStatus | async}} </h2>
      <br/>
      <button class="btn btn-primary" (click)="onAddedServer()">Add Server</button>
      <hr/>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let server of servers | filter: filteredStatus : 'status'"
          [ngClass]="getStatusClasses(server)">
          <span
            class="badge">
            {{ server.status }}
          </span>
          <!-- Applying custom built pipe-->
          <strong>{{ server.name | shorten: 10 :' ...'}}</strong> | 
          <!--Add pipes for instanceType to be in uppercase-->
          {{ server.instanceType | uppercase }} | 
          <!--Add date pipes - We need to configure a pipe i.e. parameterized
          Mutiple parameter can be passed using : seperator-->
          <!--Chaining can be done: left to right gets applied-->
          {{ server.started | date:'fullDate' | uppercase }}
        </li>
      </ul>
    </div>
  </div>
</div>
