<div 
  class="panel panel-default">
  <!--<div class="panel-heading">{{ element.name }}</div>-->
  <div class="panel-heading"> 
    <div class="row">
      <div class="col-xs-10" #heading> <!-- Heading added to check view init-->
        {{name }}
      </div>
      <div class="col-xs-2">
        <span class="glyphicon glyphicon glyphicon-remove pull-right" (click) = "onSrvDestroy()"> </span>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <!--<p>
      <strong *ngIf="element.type === 'server'" style="color: red">{{ element.content }}</strong>
      <em *ngIf="element.type === 'blueprint'">{{ element.content }}</em>
    </p>-->
    <ng-content></ng-content>
  </div>
</div>