<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <!--This will re-load / or /servers-->
        <!--<li role="presentation" class="active"><a href="/">Home</a></li>
        <li role="presentation"><a href="/servers">Servers</a></li>
        <li role="presentation"><a href="/users">Users</a></li>-->

        <li role="presentation" 
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"> <!--Only add this class if it is exact match-->
          <a routerLink="/"> Home</a>
        </li> 
        <li role="presentation">
          <a routerLink="servers" routerLinkActive="active">Servers</a><!--Alternate way for routerLinkActive -->
          </li> 
        <li role="presentation" routerLinkActive="active">
          <a [routerLink]="['users']">Users</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!--<app-home></app-home>-->
      <router-outlet></router-outlet> <!-- We do not need all directives; only inbuild outlet-->
    </div>
  </div>
  <!--<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <app-users></app-users>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <app-servers></app-servers>
    </div>
  </div>
</div>-->
